{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/w3.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <title>{% block title %}FarmFresh{% endblock %}</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.jpeg' %}" alt="FarmFresh Logo">
        </div>
        <div class="header-content">
            <h1>FarmFresh</h1>
            <p>Your Fresh Produce Marketplace</p>
        </div>

        <nav>
            <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
            <div class="w3-dropdown-hover">
                <a href="{% url 'products' %}" class="w3-button">Products<i class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{% url 'produce' %}" class="w3-bar-item w3-button">Produce</a>
                </div>
            </div>

            <div class="w3-dropdown-hover">
                <a href="{% url 'inventory' %}" class="w3-button">Inventory<i class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{% url 'productList' %}" class="w3-bar-item w3-button">Product List</a>
                    <a href="{% url 'stock' %}" class="w3-bar-item w3-button">Stock List</a>
                    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button">Reports</a>
                </div>
            </div>

            <div class="w3-dropdown-hover">
                <a href="{% url 'order_homepage' %}" class="w3-button">Order management<i class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{% url 'order_list' %}" class="w3-bar-item w3-button">Order List</a>
                    <a href="{% url 'create_order' %}" class="w3-bar-item w3-button">Create Order</a>
                </div>
            </div>

            
            <a href="{% url 'marketing' %}" class="w3-bar-item w3-button">Marketing</a>
            <a href="{% url 'invoicing' %}" class="w3-bar-item w3-button">Invoicing</a>
            <div class="w3-button">
                <a href="{% url 'profile' %}" class="w3-button">Profile<i class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{% url 'about' %}" class="w3-bar-item w3-button">About Us</a>

                </div>
            </div>

            <div class="w3-bar-item w3-button"><i class="fa fa-user" aria-hidden="true"></i></div>

        </nav>
    </header>



    <main class="container">
        {% block content %}
        <div class="text-transition">
            <p class="text1">Welcome to FarmFresh!</p>
            <p class="text2">Discover the freshest fruits and vegetables directly from local farmers.</p>
            <p class="text3">Explore our wide range of produce and enjoy the taste of farm-to-table goodness.</p>
            <p class="text4">Register now to start buying or selling your fresh produce!</p>
        </div>
        {% endblock %}
    </main>



    <footer>
        <p>&copy; 2023 FarmFresh - Your Fresh Produce Marketplace</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const paragraphs = document.querySelectorAll(".text-transition p");
            let index = 0;

            function showParagraph() {
                paragraphs.forEach((p, i) => {
                    if (i === index) {
                        p.style.opacity = 1;
                    } else {
                        p.style.opacity = 0;
                    }
                });

                index = (index + 1) % paragraphs.length;
            }

            setInterval(showParagraph, 5000);
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>