{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}FarmFresh-Profile{% endblock %}

{% block content %}


  <div class="box1">
    <h2>About Us</h2>
    <p>Welcome to FreshFarm, your go-to destination for high-quality, fresh produce straight from the farm to your doorstep.
       Our platform is designed with the modern farmer in mind, offering a comprehensive suite of tools and features to streamline your farming business and enhance your online presence.</p>

       <p>We showcase our farm's bounty with our intuitive and user-friendly product.</p>
       <p>We stay on top of our stock levels with real-time inventory tracking. Our system provides up-to-minute information on the quantity of ach product in stock, ensuring we are never caught off guard.</p>
       <p>We effeciently manage customer orders with our robust order tracking system.
        We keep tabs on the order status (pending, shipped, delivered), customer details, and order history in one centralized location.</p>
  </div> 
  

{% endblock %}
  