{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}FarmFresh-Profile{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card bg-light p-4">
      <h2 class="text-center mb-4">About Us</h2>
      <p class="lead text-center mb-4">Welcome to FreshFarm, your go-to destination for high-quality, fresh produce straight from the farm to your doorstep. Our platform is designed with the modern farmer in mind, offering a comprehensive suite of tools and features to streamline your farming business and enhance your online presence.</p>

      <div class="row">
          <div class="col-lg-6">
              <h4 class="mb-3">Our Mission</h4>
              <p>We showcase our farm's bounty with our intuitive and user-friendly product. Explore a variety of fresh produce sourced directly from local farmers.</p>
          </div>

          <div class="col-lg-6">
              <h4 class="mb-3">Inventory Management</h4>
              <p>We stay on top of our stock levels with real-time inventory tracking. Our system provides up-to-minute information on the quantity of each product in stock, ensuring we are never caught off guard.</p>
          </div>
      </div>

      <div class="row mt-4">
          <div class="col-lg-6">
              <h4 class="mb-3">Order Management</h4>
              <p>We efficiently manage customer orders with our robust order tracking system. Keep tabs on the order status (pending, shipped, delivered), customer details, and order history in one centralized location.</p>
          </div>

          <div class="col-lg-6">
            <h4 class="mb-3">Contact Us</h4>
            <p>If you have any questions or inquiries, feel free to reach out to us. Our dedicated support team is here to assist you.</p>
                <p>Email: support@freshfarm.com</p>
                <p>Phone: (011) 456-7890</p>
          </div>
      </div>
  </div>
</div>


{% endblock %}
  