{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HACKATHON CHALLENGE</title>
    
    <script src="https://smtpjs.com/v3/smtp.js" defer></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="css/style.css" rel="stylesheet" />
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>

<body class="container">

   

    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/1.jpg' %}" alt="login">
        
        </div>
       
        <div class="col-md-6">

            <h3>REGISTER</h3>

            <h4>Manage all your inventories efficiently</h4>
            <p>Let's get you all set up as you can verify your your personal account and begin setting up your work</p>


            <form action="/signup" method="post">
                {% csrf_token %}
                <label for=""> First Name</label>
                <input type="text" id="fname" name="fname" placeholder="Please Specify your first name" required> <br>
        
                <label for=""> Last Name</label>
                <input type="text" id="lname" name="lname" placeholder="Please Specify your last name" required> <br>
        
                <label for=""> User Name</label>
                <input type="text" id="username" name="username" placeholder="Please create a username" required> <br>
        
        
                <label for=""> Email</label>
                <input type="email" id="email" name="email" placeholder="Please Specify your email" required> <br>
        
        
                <label for=""> Phone Number</label>
                <input type="number" maxlength="12" minlength="12" id="PhoneNumber" name="PhoneNumber" placeholder="Please Specify your Phone Number" required><br>
        
        
        
                <label for=""> Password</label>
                <input type="password" id="Password" name="Password" placeholder="Please create a password" required> <br>
        
        
                <label for="">Confirm Password</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Please confirm your Password" required> <br>
        
                <!-- <label > I agree to all terms, privacy policies and fees
                    <input type="checkbox" style="color: black;" required>
                   
                  </label><br><br><br> -->
        
                <div>
                    <button type="submit" style="float: left;"> SIgn Up</button>

                    <button type="submit"><a href="/signin">SignIn</a></button>
                </div>
        
            </form>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>