{% extends "accounts/home.html" %}
{% load static %}
{% block title %}Nearby Supplier{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="container mt-5">
        <h1 class="text-center">Search Nearby Supplier</h1>
        <br>
        <input type="text" id="city-search" class="form-control" placeholder="Enter your town/city" autocomplete="off">
        <ul id="suggestions" class="list-group mt-3"></ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#city-search').on('keyup', function () {
            let query = $(this).val();
            if (query.length > 0) {
                console.log("Sending AJAX request with query:", query);
                $.ajax({
                    url: '{% url "nearby_suppliers" %}',
                    data: { 'q': query },
                    dataType: 'json',
                    success: function (data) {
                        console.log("Received data:", data);
                        $('#suggestions').empty();
                        $.each(data, function (index, value) {
                            let suggestion = '<li>' + value.city + ' - ' + value.username;
                            if (value.catalog_name && value.pk) {
                                suggestion += ' - <a href="/products/?catalog_id=' + value.pk + '">' + value.catalog_name + '</a>';
                            }
                            suggestion += '</li>';
                            $('#suggestions').append(suggestion);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX request failed:", status, error);
                    }
                });
            } else {
                $('#suggestions').empty();
            }
        });
    });
</script>
{% endblock content %}