{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}Search Suppliers{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="container mt-5">

        <h1 class="text-center mb-4" style="padding-top: 2.0rem;">Search Nearby Suppliers</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group pt-4">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </form>
    
        {% if suppliers %}
        <h2>Search Results</h2>
        <ul>
            {% for supplier in suppliers %}
                <li>{{ supplier.name }} - {{ supplier.vicinity }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
