arabic-reshaper
asgiref
asn1crypto
barcode
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
crispy-bootstrap4
cryptography
cssselect2
cycler
defusedxml
Django
django-crispy-forms
django-filter
django-pandas
django-phonenumber-field
django-phonenumbers
django-widget-tweaks
fontawesomefree
fonttools
gunicorn
html5lib
idna
kiwisolver
Levenshtein
lxml
matplotlib
numpy
oauthlib
oscrypto
packaging
pandas
patsy
phonenumbers
pillow
plotly
psycopg2
pycparser
pyHanko
pyhanko-certvalidator
PyJWT
pyparsing
pypdf
pypng
python-barcode
python-bidi
python-dateutil
python-Levenshtein
python3-openid
pytz
PyYAML
qrcode
rapidfuzz
reportlab
requests
requests-oauthlib
scipy
six
social-auth-app-django
social-auth-core
sqlparse
statsmodels
svglib
tenacity
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
whitenoise
xhtml2pdf
