{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}FarmFresh - Products{% endblock %}

{% block content %}
<div class="content-wrapper container" style="padding-top: 2.0rem;">
    <h1 class="text-center mb-4" style="padding-top: 2.0rem;">Products</h1>

    {% for catalog in catalogs %}
    <div class="container m-5 p-3 shadow bg-light text-center">
        <h2>{{ catalog.name }}</h2>

        {% if catalog.inventory_set.exists %}
        <div class="row gy-5">
            {% for inventory in catalog.inventory_set.all %}
            <div class="col-3">
                <img src="{{ inventory.image.url }}" alt="Inventory Image" width="100px" height="90px">
                <div>
                    <span class="p-2">{{ inventory.name }}</span>
                    <span class="p-2">Each: R{{ inventory.cost_per_item }}</span>
                </div>
                <div class="p-2">In stock: {{ inventory.quantity_in_stock }}</div>
                <a href="{% url 'add_to_cart' inventory.id %}" class="btn btn-success">Add to cart</a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No inventories available for this catalog.</p>
        {% endif %}

    </div>
    {% endfor %}

    <!-- Section for rating the products -->
    <div class="container mb-5 text-center">
        <div class="py-3">
            <p class="lead">Please rate the products to help us improve.</p>
            <a href="{% url 'rate' %}" class="btn btn-lg btn-primary">Rate the Products</a>
        </div>
    </div>

    <script>
        // Function to hide messages after a delay
        function hideMessages() {
            var messagesElements = document.querySelectorAll('.alert');
            if (messagesElements) {
                setTimeout(function() {
                    messagesElements.forEach(function(element) {
                        element.style.display = 'none';
                    });
                }, 3000);  // 5000 milliseconds (5 seconds)
            }
        }

        // Call the function when the page loads
        window.onload = hideMessages;
    </script>

</div>
{% endblock %}
