{% extends 'accounts/home.html' %}
{% load static %}


{% block title %}FarmFresh-Products{% endblock %}

{% block content %}

<div class="content-wrapper container">
    
    <div class="container m-5 p-3 shadow bg-light text-center">
        <h1 class="text-center mb-4" style="padding-top: 2.0rem;">Products</h1>

        {% if messages %}
        <div class="row mt-3">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="col-md-10 col-12 mx-auto alert alert-danger">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="col-md-10 col-12 mx-auto alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="row gy-5">
            {% for inventory in inventories %}
                <div class="col-3">
                    <img src="{{ inventory.image.url }}" alt="Inventory Image" width="100px" height="90px">
                    <div>
                        <span class="p-2">{{ inventory.name }}</span>
                        <span class="p-2">Each: R{{ inventory.cost_per_item }}</span>
                    </div>
                    <div class="p-2">In stock: {{ inventory.quantity_in_stock }}</div>
                    <a href="{% url 'add_to_cart' inventory.id %}" class="btn btn-success">Add to cart</a>
                </div>
            {% endfor %}
        </div>

    </div>

    <script>
        // Function to hide messages after a delay
        function hideMessages() {
            var messagesElements = document.querySelectorAll('.alert');
            if (messagesElements) {
                setTimeout(function() {
                    messagesElements.forEach(function(element) {
                        element.style.display = 'none';
                    });
                }, 3000);  // 5000 milliseconds (5 seconds)
            }
        }

        // Call the function when the page loads
        window.onload = hideMessages;
    </script>

</div>

{% endblock %}