{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Your cart items</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td scope="row">{{item.id}}</td>
                    <td scope="row">{{item.item}}</td>
                    <td scope="row">{{item.cost_per_item}}</td>
                    <td scope="row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button">
                                    <a href="{% url 'decrease_cart_quantity' item.id %}">-</a>
                                </button>
                            </div>
                            <input type="text" class="form-control" value="{{ item.quantity }}" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <a href="{% url 'increase_cart_quantity' item.id %}">+</a>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td scope="row">{{item.total_amount}}</td>
                    <td scope="row">
                        <a href="{% url 'delete_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                {% for price in amount %}
                <tr>
                    <td colspan="4" class="text-right">
                        Total Amount Due: {{ price.amount_due }}
                    </td>
                    <td scope="row" colspan="2">
                        <a href="{% url 'delete_cart' %}" class="btn btn-danger">Clear cart</a>
                        <a href="{% url 'create_invoice' %}" class="btn btn-success ml-2">Check out</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
