{% extends 'accounts/home.html' %}
{% load static %}


{% block title %}FarmFresh-Confirm Order{% endblock %}

{% block content %}

<div class="content-wrapper container text-center bg-light">

    {% if messages %}
        <div class="row mt-3">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="col-md-10 col-12 mx-auto alert alert-danger">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="col-md-10 col-12 mx-auto alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div>

        </div>
            <h3>
                An order confirmation email with an invoice attachment has been sent to you.
            </h3>
        <div>
            <a href="{% url 'products' %}" class="btn btn-primary">{{ instruction }}</a>
        </div>

    </div>


</div>

{% endblock %}