{% extends 'accounts/home.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block title %}FarmFresh-Distributor List{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="container mt-5">
        <h1 class="text-center mb-4" style="padding-top: 2.0rem;">Food Distributors</h1>
        
        {% if distributors %}
            {% for distributor in distributors %}
            <div class="distributor-details">
                <h2>{{ distributor.name }}</h2>
                <p><strong>Contact Information:</strong> {{ distributor.contact }}</p>
                <p><strong>Email:</strong> {{ distributor.email }}</p>
                <p><strong>Service Area:</strong> {{ distributor.area }}</p>
                <p><strong>Delivery Schedule:</strong> {{ distributor.delivery_schedule }}</p>
                <p><strong>Types of Food:</strong> {{ distributor.types_of_food }}</p>
                <p><strong>Delivery Vehicles:</strong> {{ distributor.delivery_vehicles }}</p>
                <p><strong>Delivery Process:</strong> {{ distributor.delivery_process }}</p>
                <p><strong>Minimum Order Requirements (Weight):</strong> {{ distributor.minimum_order_requirements }}</p>
                <p><strong>Delivery Fees:</strong> {{ distributor.delivery_fees }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>No distributor list available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
