{% extends 'accounts/home.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-11 col-md-4 mx-auto mt-5">
            <h2>You Have Been Logged Out</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <button class="btn btn-outline-success" type="submit"><a href="{% url 'login' %}">Log In Again</a></button>
                </small>
            </div>'
        </div>
    </div>
</div>
    