{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}Order updates{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="container mt-5">
        <div class="alert alert-info">
            <p class="lead">Hey {{ name }},</p>
            <p>Thank you for placing your order for fresh farm products with us.</p>
            <p>Please note that your order is {{ status }}.</p>
            <p>Click <a href="#">here</a> to track your order.</p>
            <br>
            <p>Kind regards,</p>
            <p>FarmFresh</p>
        </div>
    </div>
</div>

{% endblock %}
