{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}FarmFresh-Profile{% endblock %}


{% block content %}

<div class="content-wrapper background_picture">
    <div class="container mt-5">
        <div class="card bg-light p-4">
            <img src="/static/images/profile.jpg" alt="Bootstrap" class="rounded-circle img-fluid image-align" >
            <div class="row mt-4">

                <div class="col-lg-6">
                    <h3 class="mb-3">Username</h3>
                    <p>{{ username }}</p>
                </div>

                <div class="col-lg-6">
                    <h3 class="mb-3">Email address</h3>
                    <p>{{ email }}</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6">
                    <h3 class="mb-3">First name</h3>
                    <p>{{ first_name }}</p>
                </div>
      
                <div class="col-lg-6">
                    <h3 class="mb-3">Last name</h3>
                    <p>{{ last_name }}</p>
                </div>
            </div>
      
            
            <div class="row mt-4">
                <div class="col-lg-6">
                    <h4 class="mb-3">Mobile Number</h4>
                    <p> placeholder 098766544</p>
                </div>
      
                <div class="col-lg-6">
                  <h4 class="mb-3">Address</h4>
                    <p>0453 placeholder</p>
                </div>
            </div>
        </div>
      </div>
</div>

<br>
<br>
<br>
<br>

{% endblock %}