<!-- accounts/templates/accounts/sales_data.html -->

{% extends 'accounts/home.html' %}
{% load static %}

{% block title %}Sales Data Analysis{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container mt-5">
        <h1>Sales Data Analysis</h1>

        <!-- Display form for uploading sales data -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>

        {% if forecast_data_12_months %}
            <!-- Display forecast results if available -->
            <h2>Forecast Results</h2>
            
           
            <!-- 12 Months Forecast -->
            <h3>12 Months Forecast</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Forecast</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in forecast_data.12_months %}
                        <tr>
                            <td>{{ entry.product }}</td>
                            <td>{{ entry.ds }}</td>
                            <td>{{ entry.yhat }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
